body {
  background-color: antiquewhite;
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-sidebar {
  background: lightblue;
  grid-column: 1 / 2;
}

.right-sidebar {
  background: yellow;
  -column: 3 / 4;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}

main {
  display: grid;
  height: 200vh;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  gap: 30px;
  margin: auto;
}
div {
  display: grid;
  place-items: center;
}

/**************************/
/* FOOTER */
/**************************/

footer {
  padding: 2rem;
  grid-column: 1 / 4;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  justify-content: center;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* profile card */
.profile-card {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(145, 199, 217);
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  justify-content: space-between;
  margin: 10px;
}
.profile-image {
  width: 85%;
  height: 120px;
  border-radius: 30px;
  margin: auto;
}
.rating {
  display: flex;
}
.checked {
  color: orange;
}

.view-profile {
  color: white;
  background-color: #36454f;
  border-radius: 5px;
  width: 100%;
}
button:hover {
  color: #36454f;
  background-color: white;
}
