.bg-color-bg{
    background-color: #F3EEE4;
}

.main-color-bg {
    background-color: #FC4F3F;
}

.main-color-txt {
    color: #FC4F3F;
}

.accent-color-bg {
    background-color: #1c78d4;
}

.accent-color-txt {
    color: #1c78d4;
}
