
.body {
  background-color: #faa79f;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;

  /* font-family: 'Varela Round', sans-serif; */

  
}

#logo-id {
  width: 4%;
  margin-right: 35%;
  margin-left: 1%;
}

#profile-page {
  /* text-align: center; */
  color: white;
  margin-top: 1%;
}

#profile-picture-id {
  width: 20%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 10%;
}

#profile-name {
  margin-block-start: -8.5em;
  font-size: 36.5px;
  margin-left: 37%;
}

#profile-info {
  width: 45%;
  text-align: justify;
  margin-block-start: -0.05em;
  font-size: 19.5px;
  margin-left: 37%;
  color: rgb(247, 239, 239);
}

.topnav {
  text-align: center;
  font-size: 114%;
  margin-top: 3%;
  border-width: 3px;
  border-style: solid none;
  border-radius: 26%;
  padding: 1%;
  background-color: #ef786d;
  }


.topnav a {
  color: rgb(213, 197, 197);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  }

.topnav a:hover {
  color: black;
  }


.topnav a.active {
  color: rgb(99, 11, 11);
  }


.footer {
  background-color: rgb(213, 197, 197);
  margin-top: 30%;
  border-width: 5px;
  border-color: rgb(213, 197, 197);
  border-style: solid;
}

.section-1 {
  margin-top: 10%;
  border-width: 5px 0px 0px;
  border-color: rgb(213, 197, 197);
  border-style: solid;
}

#facebook-icon {
  color: red;
  transition: color 0.2s;
  margin: 0 10px;
  font-size: 30px;
}

 #facebook-icon:hover {
  color: black;

}

#twitter-icon {
  color: red;
  transition: color 0.2s;
  margin: 0 10px;
  font-size: 30px;
}

#twitter-icon:hover {
  color: black;

}

#instagram-icon {
  color: red;
  transition: color 0.2s;
  margin: 0 10px;
  font-size: 30px;
}

#instagram-icon:hover {
  color: black;

}

#google-icon {
  color: red;
  transition: color 0.2s;
  margin: 0 10px;
  font-size: 30px;
}

#google-icon:hover {
  color: black;

}

.icons-container {
  margin-left: 13%;
  margin-top: 6.5%;
}



