#home-banner{
    text-align: center;
    padding: 0;
    box-shadow: 0rem 0rem 0.8rem -0.7rem black;
}

#home-banner .text{
    width: fit-content;
    display: inline-block;
    font-family: 'DM Serif Display';
    color: var(--Orange);
}

#home-banner .title {
    margin-top: 2rem;
    font-size: 5rem;
}

#home-banner .subtitle {
    font-size: 2rem;
}


#home-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto 5rem;
    background-color: var(--bg-dark);
}

#home-banner img:first-of-type{
    margin: 8rem 0;
    width: 20%;
    display: none;
}
      

#home-banner #animated-handshake{
    margin: 8rem 0;
    width: 20%;
    animation: MoveUpDown 1s ease-in-out infinite;
    position: relative;
    left: 0;
    bottom: 0;
}
      
@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 10px;
    }
  }

/* ************************ */
