body {
    font-family: 'Akshar';
    background-color: antiquewhite;
    
    margin: 0;
    padding: 1% 7.5% 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#default-nav-bar ul, li{
    list-style: none;
     
    display: inline;

    padding: 0;
    margin: 0;
}


#default-nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


#nav-bar-logo a{
    color: black;

    font-family: 'Abril Flatface';
    font-family: 'DM Serif Display';
    font-weight: bold;

    text-align: center;
    text-decoration: none;

    flex: 1;
}


#default-nav-bar section {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#default-nav-bar #nav-bar-logo{
    flex:1;
}


#default-nav-bar #sign-up{
    flex: 1;
    text-align: right;
}


*::selection{
    color: white;
    background-color: #F65D4E;
}