body {
    background-color: antiquewhite;
    
    font-family: 'Varela Round';
    font-size: 19px;

    max-width: 65em;
    
    margin: 2em auto 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


*::selection{
    color: white;
    background-color: #FC4F3F;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

