/* Book Area */
#book-area{
    width: 100%;
    box-sizing: border-box;
}

#book-area *{
    box-sizing: border-box;
}

/* Book Grid */
#book-area > section.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3%;
    row-gap: 8%;

    padding: 1%;

    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 9px -3px inset;
}

#book-area > section.grid::-webkit-scrollbar{
    height: 0;
    width: 0;
}

#book-area > section.grid > div.book-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: fit-content;

    background-color:#f4efe2;
    border-radius: 3px;

    box-shadow: 0px 0px 9px -3.2px #0000006e;
    box-sizing: border-box;
    
    overflow: hidden;
}


#book-area > section.grid > div.book-card > .book-name{
    position: relative;
    
    font-family: var(--Serif);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    
    margin-top: 3%;

    /* Ellipsis on 2 lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#book-area > section.grid > div.book-card > .book-cover{
    position: relative;
    max-height: 300px;
    height: 250px;
}

#book-area > section.grid > div.book-card > .book-cover > img{
    display: block;   

    width: 100%;
    height: 100%;
    border-radius: 2px;
    
    object-fit: cover;
}

#book-area > section.grid > div.book-card > *:not(.book-cover, .bottom){
    margin-left: 3%;
    margin-right: 3%;
}

#book-area > section.grid > div.book-card > .author{
    color: var(--Orange);
    font-size: 1rem;
    margin-top: 2%;
}
#book-area > section.grid > div.book-card > .author-name{
    color: black;
    font-size: 1rem;
}
#book-area > section.grid > div.book-card > .rating{
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    margin-bottom: 5%;
}

#book-area > section.grid > div.book-card > .rating > .price{
    font-size: 2rem;
    margin-bottom: 2%;
    color: var(--Orange);    
}

#book-area > section.grid > div.book-card > .tags{
    margin-top: 2%;
    display: flex;
    overflow-x: scroll;
    scrollbar-color: #F4EFE2 #00b61e;
    scrollbar-width: thin;
}
#book-area > section.grid > div.book-card > .tags::-webkit-scrollbar{
    height: 0;
}

#book-area > section.grid > div.book-card > .tags > span{
    background-color: #dcdcdca7;
    box-sizing: border-box;
    margin: 0 1%;
    padding: 0.2em;

}

#book-area > section.grid > div.book-card > .bottom{
    background-color: #F2E4D0;
    padding: 1% 3% 0;
    margin-top: 3%;
}
#book-area > section.grid > div.book-card > .bottom  .seller, .location{
    color: var(--Orange);
    
}
#book-area > section.grid > div.book-card > .bottom  .seller-name, .location-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100%);
    
}
#book-area > section.grid > div.book-card > .bottom > span{
    display: inline-block;
    width: 46%;
    
}

#book-area > section.grid > div.book-card > .book-cover > .fa-bookmark{
    position: absolute;
    right: 0;
    bottom: -2px;
    transform: translateX(100%);
    font-size: 2rem;
    background-color: #F4EFE2;
    padding: 3% 3% 2% 3%;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    box-shadow: 0px 0px 0.1px -0.2px black;
}

#book-area > section.grid > div.book-card > .book-cover > .fa-bookmark.show{
    opacity: 1;
    transform: translateX(0);
}
#book-area > section.grid > div.book-card > .book-cover > .fa-bookmark.hover::before{
    color: #F04242;
    display: block;
    transform: translate(0px, -2px);
}
#book-area > section.grid > div.book-card > .book-cover > .fa-bookmark.fa-solid{
    color: #F04242;
}