#menu {
    background-color: antiquewhite;
    
    /* position: absolute;
    top: 3rem;
    
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0px 0px 0.5rem -0.3rem black;
    border-radius: 0.5rem;
    white-space: nowrap; */

    position: absolute;
    transform-origin: 0 0;
    left: 20px;
    width: 390px;
    height: 240px;
    transition: all 0.4s;
    box-sizing: border-box;
}

#menu.next {
    transform:
      translateX(120px)
      scaleX(calc(240 / 390))  /* scaleX(0.61) */
      scaleY(calc(180 / 240)); /* scaleY(0.75) */
  }
  
#menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
}

#menu div{
    margin: 1rem;
}

#menu ul > li{
    margin: 0.5rem 0;
}

#menu .title{
    font-weight: bold;
    font-family: var(--Serif);
    font-size: 1.4rem;
    text-decoration: underline;
    margin-bottom: 0;
}

#menu .left{
    margin-right: 5rem;
}

#menu .right{
    margin-right: 5rem;
}