.section .title ~ li:hover{
    color: var(--Orange);
}

.popover, .content, .background{
    display: block;
    box-sizing: border-box;
}

.popover{
    position: relative;
    opacity: 0;
    transform-origin: center -20px;
    transform: rotateX(-15deg);
    transition:
    transform 0.31s,
    opacity 0.31s;
    display: inline-block;
    /* background-color: #00FF00FF; */
}

.popover.open {
    opacity: 1;
    transform: rotateX(0);
  }

.content{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    /* overflow: hidden; */
    left: 59rem;
    transition:
      transform 0.31s,
      opacity 0.31s;
    /* background: #0000ff; */
}

.background{
    position: absolute;
    top: 0;
    left: 59rem;
    transform-origin: 0 0;
    transition:
        transform 0.31s,
        opacity 0.31s;
    background-color: antiquewhite;
    box-shadow: 0px 0px 0.7rem -0.3rem rgb(0 0 0 / 96%);
    border-radius: 0.5rem;
    /* white-space: nowrap; */
}


.section {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity 0.31s ease;
    
    /* display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    white-space: nowrap; */
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    /* background: #FF0000; */
    /* border: 1px solid; */
}

.column{
  padding:0 5px;
  margin:20px 10px;
  }

.section > .column > ul{
    padding: 0;
    margin: 0;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.section > .column  li{
list-style: none;
}

.section > .column .title{
font-weight: bold;
}

li:not(.title){
/* margin-top:0.71rem; */
}
  
.section.active {
    opacity: 1;
    z-index: 3;
}

/* .section ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
} */


.section div{
    /* margin: 1rem; */
}


.section ul > li{
    /* margin: 0.5rem 0; */
}

.section .title{
    font-weight: bold;
    font-family: var(--Serif);
    font-size: 1.4rem;
    text-decoration: underline;
    /* margin-bottom: 0; */
}

.section .left{
    /* margin-right: 5rem; */
}

.section .right{
    /* margin-right: 5rem; */
}

.section-products{
    /* z-index: 3; */
    /* left: 59rem; */
}
.section-developers{
    /* left: 77rem; */
}
.section-company{
    /* left: 92rem; */
}

/* .section-products {
    width: var(--products-width);
    height: var(--products-height);
}

.navlist-primary li {
    display: flex;
    padding: 16px 0;
}

.circle {
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

circle.small {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
  }
  
  .navlist-primary-payments h3 { color: #6772E4; }
  .navlist-primary-billing h3 { color: #23B47E; }
  .navlist-primary-connect h3 { color: #3297D3; }
  
  .navlist-primary-payments .circle { background: #87BBFD; } 
  .navlist-primary-billing .circle { background: #74E3A2; } 
  .navlist-primary-connect .circle { background: #68D4F8; } 
  
  .navlist-primary-text {
    flex: 1 1 auto;
    margin-left: 24px;  
  }
  
  .navlist-primary h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 22px;
    letter-spacing: 0.025em;
    font-weight: 600;
  }
  
  .navlist-primary p {
    font-size: 14px;
    line-height: 22px;
    color: #7b8ca3;
  }
  
  Developers Popover ---------------------------------
  
  .section-developers {
    width: var(--developers-width);
    height: var(--developers-height);
  }
  
  .subtle {
    margin-left: 30px;
    color: #7b8ca3;
    font-size: 14px;
    margin: 3px 0 32px 30px;
  }
  
  .two-col {
    display: grid;
    margin-left: 30px;
    grid-template-columns: 1fr 1fr;
  }
  
  h4 {
    font-size: 14px;
    line-height: 22px;
    letter-spacing:  0.025em;
    color: #8898aa;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  
  .navlist-subtle {
    color: #6772e5;
    font-size: 14px;
  }
  
  .navlist-subtle li {
    padding: 6px 0;
  }
  
  Company Popover ------------------------------------
  
  .section-company {
    width: var(--company-width);
    height: var(--company-height);
  }
  
  .navlist {
    color: #6772e5;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .navlist li {
      padding: 8px 0;
  }
  
  .navlist .feather {
    position: relative;
    top: 6px;
    width: 18px;
    margin-right: 12px;
  } */


#nav-bar {
    perspective: 2000px;
  }